@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';
@import 'src/styles/mixins';

.wrapper {
  :global(.ant-tag) {
    display: flex;
    align-items: center;
    height: 24px;
    font-size: $font-size-s;
    font-weight: 500;
    border-radius: 12px;
    margin: 5px;
  }

  :global(.ant-tag).salad {
    @include tag-css($salad, 0.05);
  }
  :global(.ant-tag).blue {
    @include tag-css($blue-secondary, 0.1);
  }
  :global(.ant-tag).red {
    @include tag-css($red, 0.05);
  }
  :global(.ant-tag).purple {
    @include tag-css($purple, 0.05);
  }
  :global(.ant-tag).pink {
    @include tag-css($pink, 0.05);
  }
  :global(.ant-tag).orange {
    @include tag-css($orange, 0.05);
  }
  :global(.ant-tag).yellow {
    @include tag-css($yellow, 0.05);
  }
}
