@import 'src/styles/font-variables';
@import 'src/styles/colors';

.wrapper_img {
  margin-top: 20px;
  width: 160px;
  height: 88px;

  .img {
    border-radius: 8px;
    max-width: 100%;
    height: 100%;
    display: block;
  }

  p {
    color: $gray-600;
    font-size: $font-size-s;
  }
}
