@import 'src/styles/mixins.scss';
@import 'src/styles/font-variables';
@import 'src/styles/color-variables';

.taskMain {
  width: 60%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: $bg-secondary;
  border-top-left-radius: 16px;

  @include media-breakpoint-down(md) {
    border-radius: unset;
  }

  :global(.ant-input).comm {
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $heading;
    box-shadow: none;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 14px;
    padding: 5px 11px 3px;
    border-radius: 8px;
  }
  :global(.ant-input).comm:focus,
  :global(.ant-input).comm:hover,
  :global(.ant-input).comm:focus-visible {
    box-shadow: none;
    color: $text-color;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
  }

  @include media-breakpoint-down($size: md) {
    width: 100%;
  }
  @include media-breakpoint-down($size: xsl) {
    padding: 29px 18px;
  }
}

.taskHeader {
  display: flex;
  flex-direction: column;
}

.titleRow {
  display: flex;
  column-gap: 30px;

  @include media-breakpoint-down($size: md) {
    justify-content: flex-end;
  }
}

.options {
  display: flex;
  column-gap: 22px;

  @include media-breakpoint-down($size: md) {
    padding-right: 45px;
  }
}

.border {
  border-bottom: 1px solid $dark-secondary;
}
