html,
body,
div#root {
  height: 100%;
}

.task {
  top: 0 !important;
  height: 100%;
  padding-bottom: 0 !important;
  width: 1167px !important;

  .taskContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
  }
  .taskInfo {
    width: 40%;
    padding: 24px;
    display: inline-block;
    background-color: #f1f1f5;
    border-top-right-radius: 16px;
  }
  :global(.ant-btn).saveTask, :global(.ant-btn).saveTask:focus {
    border-radius: 8px;
    background-color: #0062ff;
    color: white;
    font-size: 14px;
    border: none;
    position: absolute;
    top: 12px;
    right: 60px;
    z-index: 10;
  }
  :global(.ant-btn).saveTask:hover {
    background-color: #3b85fc;
    color: white;
  }
}
