@import 'src/styles/_color-variables.scss';
@import 'src/styles/_colors.scss';
@import 'src/styles/_font-variables.scss';

.headerSection {
  display: flex;
  height: 24px;
  column-gap: 18px;
  align-items: center;
}

.headerIcon {
  width: 20px;
  height: 20px;


  &Button {
    cursor: pointer;
    fill: $text-light;
    border: none;
    background-color: $bg-secondary;
    padding: 0;
    display: flex;
    align-items: center;

    &:hover {
      fill: darken($coral, 10%);
    }
  }
}

.confirmationPopup {
  :global {
    padding-top: 10px;

    .ant-popover-inner {
      border-radius: 8px;
    }

    .ant-popover-inner-content {
      padding: 16px 25px 32px;
    }

    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-message-title {
      padding: 0 0 32px ;
      font-weight: 500;
      font-size: $font-size-xl;
      line-height: $font-size-s;
      color: $text-title;
    }

    .ant-popover-message {
      font-size: $font-size-m;
      line-height: $line-height-m;
    }

    .ant-popover-message > .anticon {
      top: 6px;
    }

    .ant-popover-buttons {
      display: flex;
      flex-direction: row-reverse;
      column-gap: 8px;
    }

    .ant-btn {
      box-sizing: content-box;
      margin: 0;
      padding: 11px 17px;
      border-radius: 8px;
      font-size: $font-size-m;
      line-height: $line-height-xs;
    }

    .ant-btn-primary {
      display: flex;
      align-items: center;
      border: none;
      column-gap: 10px;
      background-color: $red;
      font-weight: 600;

      &:hover {
        background-color: darken($red, 10%);
      }
    }

    .ant-btn-default {
      font-weight: 400;
      color: $heading;
    }
  }

  .buttonIcon {
    width: 16px;
    height: 16px;
    fill: $bg-secondary
  }
}