@import 'src/styles/font-variables';
@import 'src/styles/color-variables.scss';
@import 'src/styles/colors';

.infoLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: $font-size-m;
  padding-bottom: 22px;
  font-weight: normal;
  text-transform: none;

  span {
    width: 50%;
  }
  span:first-of-type {
    text-align: left;
  }
  .second {
    display: flex;
    justify-content: flex-start;
  }
  .spinner {
    display: flex;
    justify-content: center;
    padding-left: 50px;
  }
}

:global(.ant-popover.popover.ant-popover-placement-top),
:global(.ant-popover.popover.ant-popover-placement-bottom) {
  :global(.ant-popover-inner) {
    border-radius: 8px;
    padding: 10px 0px;
    width: 160px;
    .options {
      width: 500px;
    }
    :global(.ant-popover-inner-content) {
      padding: 0px;
      :global(.ant-btn.ant-btn-text) {
        height: 32px;
        color: $text-dark;
        font-weight: 700;
        font-size: $font-size-s;
        padding-left: 20px;
        padding-right: 20px;
        &:hover {
          background-color: rgba($blue, 0.05);
        }
      }
    }
  }
}

:global(.ant-popover.popover.options.ant-popover-placement-top) {
  :global(.ant-popover-inner) {
    width: 200px;
  }
}
