@import 'src/styles/font-variables';

.infoLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: $font-size-m;
  padding-bottom: 22px;
  font-weight: normal;
  text-transform: none;

  span {
    width: 50%;
  }
  span:first-of-type {
    text-align: left;
  }
  .second {
    display: flex;
    justify-content: flex-start;
  }
  .spinner {
    display: flex;
    justify-content: center;
    padding-left: 50px;
  }
}
