@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';
@import 'styles/mixins.scss';

:global(.ant-row).wrapper {
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding: 14px 25px;
  margin: 4px 0px;
  background-color: $white;

  :global(.ant-col.ant-col-7).title {
    min-width: 320px;
    flex-shrink: 0;
  }

  :global(.ant-col).status {
    min-width: 150px;
  }
  :global(.ant-col).date {
    min-width: 90px;
  }
  :global(.ant-col).priority {
    min-width: 90px;
  }
  :global(.ant-col).roles {
    min-width: 60px;
  }
  :global(.ant-col).tags {
    max-width: 150px;
  }
  :global(.ant-col.ant-col-1).options {
    cursor: pointer;
    text-align: right;
    width: 20px;

    @include media-breakpoint-down($size: xxxl) {
      position: absolute;
      top: auto;
      right: 10px;
    }
  }
}
.flex {
  display: flex;
  margin-top: 7px;
}
:global(.ant-row).overdue {
  border: 1px solid $red;
}
