@import 'src/styles/_color-variables.scss';

.priorityCheckboxLabel {
  display: flex;
  align-items: center;
}

.labelText {
  margin: 0;
}

.colorDot {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: $dark-primary;
}

.colorDotOrange {
  background-color: $priority-orange;
}

.colorDotRed {
  background-color: $priority-red;
}

.colorDotGreen {
  background-color: $priority-green;
}