@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 200px;

  :global(.ant-btn).button {
    text-align: left;
    text-transform: uppercase;
    font-size: $font-size-s;
    font-weight: 700;
    color: $text-dark;
  }
  :global(.ant-btn).button:disabled {
    color: $gray-500 !important;
    cursor: default;
  }
  :global(.ant-btn).button:disabled:hover {
    background: none !important;
  }
}
