.priorityCheckboxGroup {
  :global {
    .ant-checkbox-wrapper {
      flex-direction: row-reverse;
      margin-left: 0;
    }

    .ant-checkbox-group-item {
      margin-right: 0;
    }

    .ant-checkbox + span {
      padding-left: 0;
      margin-right: auto;
    }
  }
}