@import 'src/styles/font-variables';
@import 'src/styles/color-variables';

.history {
  p {
    font-size: $font-size-m;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 0;
  }
  .historyElem {
    display: inline-block;
  }
  .date {
    color: $heading;
    display: inline-block;
  }
}
