@import 'src/styles/color-variables';
@import 'src/styles/font-variables';

.button {
  :global {
    border-color: $border-primary;
    border-radius: 8px;
    color: $heading;
    font-size: $font-size-m;
    line-height: $line-height-m;
  }
}



