@import 'src/styles/color-variables';
@import 'src/styles/font-variables';

.participants {
  :global {
    font-weight: 300;
    font-size: $font-size-m;
    line-height: $line-height-m;
    border-bottom: 1px solid $dark-secondary;

    .ant-select-selection-item {
      display: none;
    }

    .ant-select-arrow .anticon:not(.ant-select-suffix) {
      pointer-events: none;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.dropdown {
  border: 1px solid $border-secondary;
  box-shadow: 0 8px 40px rgba(23, 31, 70, 0.08);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}