@import 'src/styles/font-variables';
@import 'src/styles/color-variables';

.history {
  margin-top: 20px;
  p {
    font-size: $font-size-m;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 0;
  }
  .historyElem {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;

    :global(.ant-avatar) {
      min-width: 32px;
    }
  }
  .date {
    color: $heading;
    display: inline-block;
  }
}

.spanUser {
  margin-left: 10px;
}

.historyElemItem {
  display: flex;
  margin-left: 7%;

  :global(.ant-avatar) {
    min-width: 32px;
  }
}

.historyElemDate {
  display: flex;
  align-items: center;
  margin-left: 7%;

  span {
    margin-left: 10px;
  }

  .spanDate {
    font-weight: bold;
  }
}

.historyElemStatus {
  display: flex;
  margin-left: 7%;

  .spanStatus {
    font-weight: bold;
    text-transform: uppercase;
  }
}
