@import 'src/styles/font-variables';
@import 'src/styles/color-variables';

.section {
  font-size: $font-size-l;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.wrapper {
  padding-left: 19px;
  width: 100%;
}
.wrapper .title {
  font-weight: 500;
  padding: 0;
  color: $text-title;
}
