@import 'src/styles/mixins.scss';
@import 'src/styles/_colors.scss';

.counterWrapper {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  flex-wrap: wrap;

  .counter {
    display: flex;
    margin-bottom: 8px;
    border: 1px solid $gray-300;
    border-radius: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 3px;
    width: 30px;
    height: 30px;
    margin-left: 3px;
  }
}

.inlist {
  width: 100%;
}

.nolist {
  width: 56%;

  @include media-breakpoint-down($size: xs) {
    width: 100%;
  }
}

.noedit {
  margin-bottom: 15px;
  .counter {
    margin-bottom: 0;
    padding-left: 9px;
    border: none;
  }
}
