@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';

.wrapper {
  display: flex;
  :global(.ant-avatar).plus {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $white;
    border: 1px solid $dark-secondary;
    color: $heading;
    font-size: $font-size-s;
    line-height: $line-height-s;
    font-weight: 400;
  }
}
