@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';
@import 'src/styles/mixins.scss';

.wrapper {
  width: 100%;
  max-width: 380px;
  cursor: pointer;
  border: 1px solid $gray-200;
  border-radius: 16px;
  background-color: $white;
  @include media-breakpoint-down($size: md) {
    max-width: 85%;
  }
  &.new {
    background-color: $gray-100;
  }
  .container {
    padding: 16px;
    header {
      cursor: pointer;
      margin-bottom: 13px;
      font-size: $font-size-s;
      font-weight: 500;
      line-height: $line-height-s;
      color: $gray-600;
    }
    main {
      display: flex;
      gap: 8px;
      .info {
        font-size: $font-size-m;
        font-weight: 400;
        color: $gray-800;
      }
      :global(.notify-action) {
        padding-bottom: 8px;
      }
    }
    footer {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 24px;
    }
  }
}
