@import 'src/styles/mixins.scss';
@import 'src/styles/font-variables';
@import 'src/styles/colors';

.infoLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: $font-size-m;
  padding-bottom: 16px;
  font-weight: normal;
  text-transform: none;

  @include media-breakpoint-down($size: xs) {
    flex-direction: column;
  }

  span:first-of-type {
    text-align: left;
  }
  .rolename {
    padding-right: 10px;

    @include media-breakpoint-down($size: xs) {
      margin-bottom: 11px;
    }
  }
  .members {
    width: 56%;
  }
  .watchers {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 56%;
    .members {
      width: 100%;
    }
  }
  .expand {
    cursor: pointer;
    padding-right: 10px;

    @include media-breakpoint-down($size: xs) {
      margin-bottom: 11px;
    }
  }
  .expand:hover {
    color: $blue;
  }
}
.infoLine:last-of-type {
  @include media-breakpoint-down($size: xs) {
    padding-bottom: 0;
  }
}
