@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';

.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  h1 {
    color: $text-dark;
    font-weight: 700;
  }
  .user {
    position: relative;
    left: 23px;
    display: flex;
    align-items: center;
    .menuicon {
      font-size: $font-size-s;
      color: $gray-600;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
      z-index: 1;
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    :global(.ant-btn) {
      border-radius: 10px;
      height: 36px;
      border: 0px solid;
      color: $text-dark;
      display: flex;
      align-items: center;
      font-weight: 700;
      margin-right: 20px;
      span {
        padding-left: 10px;
      }
      &.active {
        box-shadow: 0 1px 4px 0px rgba($text-dark, 0.1);
      }
    }
  }

  :global(.ant-col).newtask {
    display: flex;
    justify-content: flex-end;
  }
}
