$bg-primary: #fafafb;
$bg-secondary: #ffffff;

$dark-primary: #92929d;
$dark-secondary: #e2e2ea;

$heading: #696974;

$text-color: #000000;
$text-dark: #44444f;
$text-light: #b5b5be;
$text-title: #171725;

$checkbox-checked: #3dd598;

$border-primary: #d5d5dc;
$border-secondary: #f1f1f5;

$button-main: #0062ff;
$button-main-hover: #3b85fc;
$button-secondary-hover: #e3e3e5;

$alert: #ff7875;
