$gray-100: #fafafb;
$gray-200: #f1f1f5;
$gray-300: #e2e2ea;
$gray-400: #d5d5dc; 
$gray-500: #b5b5be; 
$gray-600: #92929d;
$gray-700: #696974;
$gray-800: #44444f;
$gray-900: #171725;
$blue: #0062ff;
$blue-secondary: #50b5ff;
$blue-light: #eef8ff;
$success: #3dd598;
$salad: #82c43c;
$salad-light: #f3faec;
$orange: #ff974a;
$purple: #a461d8;
$pink: #ff9ad5;
$red: #fc5a5a;
$red-light: #fff2f5;
$yellow: #ffc542;
$white: #ffffff;
$coral: #FF9D9D;