$bg-primary: #FAFAFB;
$bg-secondary: #FFFFFF;

$dark-primary: #92929D;
$dark-secondary: #E2E2EA;

$heading: #696974;

$text-dark: #44444F;
$text-light: #B5B5BE;
$text-color: #000000;
$text-title: #171725;

$checkbox-checked: #3DD598;

$border-primary: #D5D5DC;
$border-secondary: #F1F1F5;

$button-main: #0062FF;
$button-main-hover: #3B85FC;
$button-secondary-hover: #E3E3E5;

$alert: #FF7875;

$priority-red: #FC5A5A;
$priority-orange: #FF974A;
$priority-green: #82C43C;