$mainFont: 'Inter', 'Arial', sans-serif;

$font-size-xxxxl: 48px;
$font-size-xxxl: 32px;
$font-size-xxl: 24px;
$font-size-xl: 18px;
$font-size-l: 16px;
$font-size-m: 14px;
$font-size-s: 12px;
$font-size-xs: 10px;

$line-height-xxxl: 1.25;
$line-height-xxl: 1.5;
$line-height-xl: 1.5;
$line-height-l: 1.5;
$line-height-m: 1.42;
$line-height-s: 1.33;
$line-height-xs: 1.6;
