:root {
  /* Colors */
  --cyan-50: #e5f3ff;
  --cyan-80: #d6ebff;
  --cyan-200: #99ccff;
  --cyan-330: #5baafb;
  --cyan-400: #2891f9;
  --cyan-500: #0680f9;
  --cyan-600: #0673e0;
  --cyan-700: #004d99;

  --orange-50: #fff1e6;
  --orange-80: #ffe9d6;
  --orange-220: #ffc18d;
  --orange-340: #ffa052;
  --orange-400: #ff8f33;
  --orange-460: #ff8716;
  --orange-520: #fa7800;
  --orange-600: #f26600;

  --danger-50: #ffe8e5;
  --danger-80: #ffdad6;
  --danger-200: #ffa399;
  --danger-330: #ff6655;
  --danger-400: #ff5338;
  --danger-460: #ff4529;
  --danger-500: #f92706;
  --danger-600: #cc1b00;

  --warning-50: #fff9e5;
  --warning-80: #fff5d6;
  --warning-200: #ffe799;
  --warning-300: #ffdb66;
  --warning-400: #ffd633;
  --warning-500: #fece1a;
  --warning-600: #ffbf00;
  --warning-700: #e68a00;

  --success-50: #eafbf3;
  --success-80: #ddf8ec;
  --success-200: #abedce;
  --success-400: #52e09e;
  --success-530: #22c378;
  --success-600: #0ac46c;
  --success-700: #00b368;
  --success-750: #037c54;

  --blue-50: #e7edfe;
  --blue-80: #d8e2fd;
  --blue-220: #97b1f9;
  --blue-380: #4675f5;
  --blue-450: #2b5fee;
  --blue-520: #1f50d8;
  --blue-600: #1a42b3;
  --blue-700: #0f308a;

  --purple-50: #f4ebfa;
  --purple-80: #eedff6;
  --purple-200: #d3aeea;
  --purple-360: #b06ed8;
  --purple-420: #a05ec9;
  --purple-500: #8e41be;
  --purple-600: #75359d;
  --purple-700: #592877;

  --basic-w: #ffffff;
  --basic-020: #fafbfc;
  --basic-030: #f5f6f9;
  --basic-050: #eff2f5;
  --basic-070: #e7ebf1;
  --basic-100: #dee3ed;
  --basic-150: #d1d6e0;
  --basic-200: #c2c8d6;
  --basic-250: #b5bbc9;
  --basic-300: #a6aebf;
  --basic-350: #97a1b4;
  --basic-400: #8c95a8;
  --basic-500: #747b8b;
  --basic-600: #5c6170;
  --basic-700: #464853;
  --basic-750: #3b3c45;
  --basic-800: #2f3037;
  --basic-840: #25262c;
  --basic-txt: #212226;
  --basic-900: #1f1f23;
}
