@import 'mixins';
@import '../assets/fonts/fonts';
@import './_color-variables.scss';
@import './_font-variables.scss';

body {
  margin: 0;
  font-family: $mainFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-primary;
}

$TIME_SHOW_NOTICE_IN_SECONDS: 5s;
