@import 'src/styles/font-variables';
@import 'src/styles/colors';

:global(.ant-select-selection-item),
:global(.ant-select-item-option-content) {
  display: flex;
  align-items: center;
  width: 100px;
  text-transform: none;
}

.priority {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .text {
    font-weight: normal;
    font-size: $font-size-m;
    text-transform: none;
  }

  :global(.ant-select) {
    width: 56% !important;
  }

  :global(.ant-select-selector) {
    padding: 0 !important;
  }

  :global(.ant-select-selection-placeholder) {
    color: $blue !important;
    font-weight: 500;
    text-transform: none;
  }
  .noedit {
    width: 100%;
    padding: 0 11px;
  }
  span {
    font-weight: normal;
    font-size: $font-size-m;
    text-transform: none;
  }

  :global(.ant-select-clear) {
    background: none;
  }
}

.drop {
  border-radius: 8px !important;
}

.low {
  display: inline-block;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $salad;
}
.middle {
  display: inline-block;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $orange;
}
.high {
  display: inline-block;
  margin-right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $red;
}
