@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';

.wrapper {
  display: flex;
  align-items: center;
  font-size: $font-size-m;
  line-height: 24px;
  span {
    font-weight: 300;
    color: $dark-primary;
  }
  .menuicon {
    display: inline;
    font-size: $font-size-s;
    color: $gray-600;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    right: 0px;
    z-index: 1;
  }
  /* ======= Стили для свернутого селекта начало. Внутри компонента и с модульным стилем */
  .selector {
    :global(.ant-select-selector) {
      padding-right: 0;
      align-items: center;
    }
    :global(.ant-select-selection-item) {
      width: fit-content;
      background-color: transparent;
      padding-right: 14px;
      z-index: 5;
      font-size: $font-size-m;
      line-height: 24px;
      text-align: right;
      font-weight: 600;
      color: $text-dark;
    }
    // Встроенная иконка выпадения antd
    :global(.ant-select-arrow) {
      display: none;
    }
  }
  /*======= Стили для свернутого селекта конец */
}
/* Глобальные стили .dropdown установлен в ant-select dropdownClassName={styles.dropdown} */
.dropdown {
  border-radius: 8px;
  width: 150px;
  :global(.ant-select-item) {
    height: 32px;
    color: $text-dark;
    font-weight: 700;
    font-size: $font-size-m;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      background-color: rgba($blue, 0.05);
    }
    &:global(.ant-select-item-option-selected) {
      background-color: transparent;
      &:hover {
        background-color: rgba($blue, 0.05);
      }
    }
    &:global(.ant-select-item-option-active) {
      background-color: transparent;
      &:hover {
        background-color: rgba($blue, 0.05);
      }
    }
  }
}
