@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';

:global(.ant-btn).new {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 8px 16px;
  background-color: $blue;
  color: $white;
  border-radius: 10px;
  &:hover {
    color: $white;
    border: 1px solid lighten($blue, 10%);
    background-color: lighten($blue, 10%);
  }
  &:focus {
    color: $white;
    border: 1px solid $blue;
    background-color: $blue;
  }
}
