@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';

.wrapper {
  padding: 37px;
  min-width: 1160px;
  background-color: $bg-primary;
  .blocks {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
