@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';

.wrapper {
  max-width: 480px;
  max-height: 60px;
  font-size: $font-size-m;
  color: $text-dark;
  font-weight: 600;
  overflow-wrap: break-word;
  a,
  a:hover {
    color: $text-dark;
    background: none;
  }
  .done,
  .done:hover {
    color: $heading;
  }
  cursor: pointer;
}
