@import 'src/styles/color-variables';
@import 'src/styles/font-variables';

.description {
  display: inline;

  :global(.ant-input).desc {
    font-size: $font-size-m;
    line-height: $line-height-m;
    color: $heading;
    box-shadow: none;
    overflow: hidden;
    margin-top: 16px;
    margin-bottom: 14px;
    border: none;
    padding: 0;
    color: $text-color;
  }
  :global(.ant-input).readonly {
    color: $dark-primary;
  }
  :global(.ant-input).desc:focus,
  :global(.ant-input).desc:hover,
  :global(.ant-input).desc:focus-visible {
    border: none;
    box-shadow: none;
  }
  :global(.ant-btn).save,
  :global(.ant-btn).save:focus {
    border-radius: 8px;
    background-color: $button-main;
    color: $bg-secondary;
    font-size: $font-size-m;
    border: none;
  }
  :global(.ant-btn).save span {
    padding-top: 0;
  }
  :global(.ant-btn).save:hover {
    background-color: $button-main-hover;
    color: $bg-secondary;
  }
  :global(.ant-btn).cancel,
  :global(.ant-btn).cancel:focus {
    border-radius: 8px;
    background-color: $bg-secondary;
    font-size: $font-size-m;
    color: $heading;
    border: 1px solid $border-primary;
    margin-left: 8px;
  }
  :global(.ant-btn).cancel span {
    padding-top: 0;
  }
  :global(.ant-btn).cancel:hover,
  :global(.ant-btn).cancel:active {
    background-color: $border-secondary;
    color: $heading;
    border: 1px solid $border-primary;
  }
  :global(.ant-btn).change,
  :global(.ant-btn).change:focus {
    border-radius: 8px;
    background-color: $border-secondary;
    font-size: $font-size-s;
    color: $dark-primary;
    border: 1px solid $border-secondary;
    margin-left: 14px;
    padding: 1px 8px;
    height: 24px;
  }
  :global(.ant-btn).change span {
    padding-top: 0;
  }
  :global(.ant-btn).change:hover,
  :global(.ant-btn).change:active {
    background-color: $button-secondary-hover;
    color: $dark-primary;
    border: 1px solid $button-secondary-hover;
  }
}
