@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';

@import 'src/styles/color-variables';

.tag {
  border: 1px solid $checkbox-checked;
  box-sizing: border-box;
  border-radius: 16px;
  max-width: fit-content;
  padding: 4px 8px 4px 18px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 11px;
}

.text {
  padding: 0;
  margin: 0;
  color: $checkbox-checked;
  font-size: $font-size-s;
}

.button {
  border: none;
  outline: none;
  background-color: $bg-secondary;
  width: 10px;
  height: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  :global {
    font-size: 10px;
    color: $checkbox-checked;
  }
}
