@import 'src/styles/font-variables';
@import 'src/styles/color-variables';

.wrapname {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;

  span {
    font-size: $font-size-xxl;
    line-height: $line-height-xxxl;
    margin-top: 16px;
    margin-bottom: 20px;
    color: $text-light;
    cursor: pointer;
  }

  .taskActions {
    display: flex;
    column-gap: 22px;
    padding-left: 40px;
  }

  :global(textarea.ant-input).name {
    font-size: $font-size-xxl;
    line-height: $line-height-l;
    color: $text-color;
    box-shadow: none;
    border: none;
    overflow: hidden;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 20px;
  }

  :global(.ant-input).name:focus,
  :global(.ant-input).name:active,
  :global(.ant-input).name:focus-visible {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid $button-main;
  }

  :global(textarea.ant-input-status-error).name {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid $alert;
  }

  :global(textarea.ant-input-status-error).name:focus,
  :global(textarea.ant-input-status-error).name:active,
  :global(textarea.ant-input-status-error).name:focus-visible {
    border: none;
    box-shadow: none !important;
    border-bottom: 2px solid $alert;
  }

  :global(textarea.ant-input-status-error).name::placeholder {
    color: $alert;
  }

  :global(textarea.ant-input).error {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid $alert;
  }

  :global(textarea.ant-input).error:focus,
  :global(textarea.ant-input).error:active,
  :global(textarea.ant-input).error:focus-visible {
    border: none;
    box-shadow: none !important;
    border-bottom: 2px solid $alert;
  }

  :global(textarea.ant-input).error::placeholder {
    color: $alert;
  }

  :global(.ant-input).readonly:focus,
  :global(.ant-input).readonly:active,
  :global(.ant-input).readonly:focus-visible {
    border: none;
  }
}

.border {
  border-bottom: 1px solid $dark-secondary;
}

.popoverMenu {
  min-width: 190px;
  padding: 0;
  border: 1px solid $bg-primary;
  box-shadow: 0 8px 40px rgba(23, 31, 70, 0.08);

  :global {
    .ant-popover-arrow {
      display: none;
    }

    .ant-popover-inner {
      border-radius: 8px;
    }

    .ant-popover-inner-content {
      padding: 20px 27px;
    }
  }
}