@import 'src/styles/color-variables';
@import 'src/styles/colors';

:global(.ant-modal).modal {
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  margin: 0;
  top: 0;

  :global(.ant-modal-close-x) {
    padding-top: 20px;

    svg {
      width: 22px;
      height: 22px;
      color: $text-light;
    }
  }

  :global(.ant-modal-content) {
    margin: 0;
    top: 0;
    background: none;
  }

  :global(.ant-modal-header) {
    background-color: white;
  }

  :global(.ant-modal-body) {
    height: 100%;
  }
}

// :global(.ant-carousel) :global(.slick-prev),
// :global(.ant-carousel) :global(.slick-prev:focus),
// :global(.ant-carousel) :global(.slick-prev:hover) {
//   left: 100px;
//   z-index: 2;
//   width: 40px;
//   height: 40px;
//   font-size: 20px;
//   background-color: $blue;
//   border-radius: 8px;
//   display: flex !important;
//   align-items: center;
//   justify-content: center;
//   color: white;
// }

// :global(.ant-carousel) :global(.slick-next),
// :global(.ant-carousel) :global(.slick-next:focus),
// :global(.ant-carousel) :global(.slick-next:hover) {
//   right: 100px;
//   z-index: 2;
//   width: 40px;
//   display: flex !important;
//   align-items: center;
//   justify-content: center;
//   height: 40px;
//   font-size: 20px;
//   border-radius: 8px;
//   background-color: $blue;
//   color: white;
// }

// :global(.ant-carousel) :global(.slick-dots) li {
//   display: none;
// }
