@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  :global(.ant-input-affix-wrapper).input {
    padding-left: 0px;
    --antd-wave-shadow-color: $gray-500;
    background: transparent;
    border: none;
    height: 48px;
    border-bottom: 1px solid $gray-500;
    color: $gray-500;
    width: 298px;
    :global(.ant-input) {
      background-color: transparent;
      font-size: $font-size-xxl;
      font-weight: 500;
    }
  }

  :global(.ant-btn) {
    box-sizing: border-box;
    height: 32px;

    border-radius: 8px;
    &.save {
      background-color: $blue;
      border-color: $blue;
      color: $white;
      font-size: $font-size-s;
      line-height: $line-height-s;
      font-weight: 700;
    }
    &.cancel {
      color: $heading;
      font-size: $font-size-s;
      line-height: $line-height-s;
      font-weight: 500;
    }
  }
}
