@import 'src/styles/color-variables.scss';
@import 'src/styles/font-variables.scss';
@import 'src/styles/colors';

.wrapper {
  font-size: $font-size-s;
  line-height: $line-height-s;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    color: $white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: fit-content;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.created {
  border: 1px solid $blue-secondary;
  background-color: $blue-secondary;
  &:hover {
    border: 1px solid lighten($blue-secondary, 10%);
    background-color: lighten($blue-secondary, 10%);
  }
  &:focus {
    border: 1px solid $blue-secondary;
    background-color: $blue-secondary;
  }
}
.work {
  border: 1px solid $success;
  background-color: $success;
  &:hover {
    border: 1px solid lighten($success, 10%);
    background-color: lighten($success, 10%);
  }
  &:focus {
    border: 1px solid $success;
    background-color: $success;
  }
}

.done {
  border: 1px solid $purple;
  background-color: $purple;
  &:hover {
    border: 1px solid lighten($purple, 10%);
    background-color: lighten($purple, 10%);
  }
  &:focus {
    border: 1px solid $purple;
    background-color: $purple;
  }
}

.paused {
  border: 1px solid $red;
  background-color: $red;
  &:hover {
    border: 1px solid lighten($red, 10%);
    background-color: lighten($red, 10%);
  }
  &:focus {
    border: 1px solid $red;
    background-color: $red;
  }
}
