.history{
  p{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 0;
  }
  .historyElem{
    display: inline-block;
  }
  .date{
    color:#696974;
    display: inline-block;
  }
}