@import 'src/styles/color-variables';
@import 'src/styles/colors';
@import 'src/styles/font-variables';

.wrapperMenuItem {
  display: flex;

  :global(.ant-menu-title-content) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .colorItem {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    margin-right: 8px;

    &[color='orange'] {
      background-color: $orange;
    }

    &[color='red'] {
      background-color: $red;
    }

    &[color='green'] {
      background-color: $salad;
    }

    &[color='yellow'] {
      background-color: $yellow;
    }

    &[color='blue'] {
      background-color: $blue;
    }

    &[color='pink'] {
      background-color: $pink;
    }

    &[color='purple'] {
      background-color: $purple;
    }
  }

  p {
    font-size: $font-size-m;
    line-height: 20px;
    margin-bottom: 0px;
  }
}

.menuItem,
.wrapperIcon {
  display: flex;
  align-items: center;

  :global(.ant-btn).btnIcon {
    border: none;
    background: none;
    box-shadow: none;
  }

  :global(.anticon).iconEdit,
  :global(.anticon).iconDelete {
    background-color: $gray-100;
    padding: 5px;
    border-radius: 4px;
    margin-left: 3px;

    svg {
      color: $gray-500;
    }
  }

  :global(.anticon).iconEdit {
    svg {
      &:hover {
        color: $blue;
      }
    }
  }

  :global(.anticon).iconDelete {
    svg {
      &:hover {
        color: $red;
      }
    }
  }
}

.wrapperSelect {
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    width: 90%;
    margin-bottom: 10px;
    text-shadow: none;
    box-shadow: none;

    &:hover {
      border: none;
      border-radius: 8px;
      background-color: rgba($blue, 0.05);
    }
  }
}
